
.bg-container{
    background-color: rgb(182, 207, 218);
    text-align: center;
    height: 50vh;
}
button{
    width: 120px;
    height: 30px;
    background-color: azure;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;


}
.output{
    background-color: rgb(122, 116, 133);
    margin: 15px;
    font-size: 20px;
}

