
.bg-container{
    background-color: rgb(166, 170, 106);
    text-align: center;
    height: 50vh;
}
button{
    width: 120px;
    height: 30px;
    background-color: azure;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;


}
.output{
    background-color: rgb(151, 221, 215);
    margin: 15px;
    font-size: 20px;
}

