
.bg-container{
    background-color: rgb(199, 184, 102);
    text-align: center;
    height: 50vh;
}
button{
    width: 120px;
    height: 30px;
    background-color: azure;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;


}
.output{
    background-color: rgb(189, 209, 181);
    margin: 15px;
    font-size: 20px;
}

